
<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-128x128">
                <img src="https://loremflickr.com/256/256/conference,office/all?lock={{ event.id }}" alt="Image">
            </figure>
        </div>
    </article>
</div>


