{% extends "_template.html.twig" %}

{% block title %}Nouvel événement{% endblock %}

{% block content %}
    <div class="section has-background-warning">
  
        <h1 class="title">Nouvel événement</h1>
        
        {% include 'event/_event_form.html.twig' %}

    </div>

{% endblock %}