{% extends "_template.html.twig" %}

{% block title %}
    Evenement: {{ event.name }}
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Evenement: {{ event.name }}</h1>

        <h3 class="subtitle">Description: {{ event.description }}</h3>
        <h5 class="subtitle">Date: {{ event.createdAt | date('d-m-Y')}}</h5>

        <a href="#" class="button is-info">Participer</a>
    </div>
{% endblock %}