{% extends '_template.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Accueil</h1>

        {# {% include 'includes/flash.html.twig' %} #}

        {# {% include 'record/_record_list.html.twig' with {record_list: top_records} %} #}
    </div>
{% endblock %}