{% extends '_template.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
   
    <main class="section is-fullheight-with-menu has-background-white-ter">
        <div class="columns is-desktop is-fullwidth is-vcentered" id="banner">
            <div class="column is-hidden-touch"></div>

            <div class="column is-fullwidth is-one-third-desktop is-full-mobile">
                <div class="content">
                    <h1 class="title has-text-centered is-size-4-touch">
                        Démonstrateur Obs2RM
                    </h1>
                    <h4 class="subtitle has-text-grey has-text-justified is-size-6-touch">
                        <br>Une application de traitement des données de trafic d'un logiciel d'analyse d'image, ...OD Soft !
                    <br>
                    </h4>
                </div>
                <div class="buttons has-text-centered">
                    <a href="#contact" class="button is-link is-light">
                        <span class="icon is-small">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                        <span>Contact</span>
                    </a>
                </div>
            </div>

            <div class="column is-fullwidth is-half-desktop" id="illustration">
                <img src="https://ml0yx59byvc1.i.optimole.com/Gs6DYt4.yiKZ~4e5a5/w:auto/h:auto/q:90/https://sarasanalytics.com/wp-content/uploads/2020/03/DataEngineering-and-CustomizedDataCollection.png" alt="Illustration">
            </div>

            <div class="column is-hidden-touch"></div>
        </div>
    </main>
    <br>
    <br>
    <br>
    <section id="contact" class="section is-fullheight-expand-tablet has-background-dark">
        <div class="container">
            <h2 class="title has-text-light is-size-5-mobile">Contact</h2>
            <p class="has-text-light is-size-2-mobile">Merci de bien vouloir remplir ce formulaire en cas de problème.</p>
            <br>
            <form name="contact_form" method="post">
                <div class="columns is-tablet">
                    <div class="column">
                        <div class="field">                
                            <label class="has-text-light label required" for="contact_form_name">Nom:</label>
                        </div>
                        <div class="control">    
                            <input type="text" id="contact_form_name" name="contact_form[name]" required="required" class="input">
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">                
                            <label class="has-text-light label required" for="contact_form_email">Email:</label>
                        </div>
                    <div class="control">    
                        <input type="email" id="contact_form_email" name="contact_form[email]" required="required" class="input"></div>
                    </div>
                </div>
                <div class="field">                
                    <label class="has-text-light label required" for="contact_form_subject">Objet:</label>
                <div class="control">    
                    <input type="text" id="contact_form_subject" name="contact_form[subject]" required="required" class="input"></div></div>

                    <div class="textarea-no-resize field">                
                    <label class="has-text-light label required" for="contact_form_message">Message:</label>
                <div class="control"><textarea id="contact_form_message" name="contact_form[message]" required="required" class="textarea-no-resize textarea"></textarea></div></div>

                <button type="submit" class="button is-primary is-fullwidth">
                    <span><i class="fas fa-paper-plane"></i> Envoyer</span>
                </button>
            
                <input type="hidden" id="contact_form__token" name="contact_form[_token]" value="orVOcdjiYRcW7_svqUj6IDZwwq_5eV7a5a-NGu6jNq4">
            </form>
        </div>
    </section>
    <footer id="footer" class="has-background-black has-text-light">
        <div class="column columns is-tablet is-marginless">
            <div class="column is-paddingless-y-mobile has-text-centered">
                <p class="heading">
                    <span class="icon"><i class="far fa-copyright"></i></span>
                    Démo - Obs2RM 2021
                </p>
            </div>
        </div>
    </footer>

{% endblock %}