{% extends '_template.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Accueil</h1>
        <div class="section">
            <h2 class="subtitle is-selected">Bienvenue sur <strong>MY-EVENT !</strong> </h2>
            <h3 class="subtitle">Une application faite pour vous, commencez d'organiser vos événements ... </h3>
        </div>
        {% include 'includes/flash.html.twig' %}
        
    </div>
{% endblock %}