
{% extends "base.html.twig" %}

{% block body %}

    <nav class="navbar has-background-grey-darker is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('homepage') }}">
                <p class="subtitle is-4 has-text-primary">
                    <i class="fab fa-korvue"></i><b>VENTS</b>
                </p>
            </a>

            {# <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a> #}
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <section class="hero is-info is-fullheight">
                <div class="hero-head">
                    <nav class="navbar">
                        <div class="container">
                            <div class="navbar-brand">
                                <span class="navbar-burger burger" data-target="navbarMenu">
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                </span>
                            </div>
                            <div id="navbarMenu" class="navbar-menu">
                                <div class="navbar-end">
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="#">
                                            <span class="icon">
                                                <i class="fas fa-clipboard-list"></i>
                                            </span>
                                            <span>Mes événements</span>
                                        </a>
                                    </span>
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="#">
                                            <span class="icon">
                                                <i class="fas fa-calendar-plus"></i>
                                            </span>
                                            <span>Nouvel événement</span>
                                        </a>
                                    </span>
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="#">
                                            <span class="icon">
                                                <i class="fas fa-newspaper"></i>
                                            </span>
                                            <span>Participations</span>
                                        </a>
                                    </span>                               
                                    <div class="navbar-end">
                                        <div class="navbar-item">
                                            <div class="buttons">
                                                <a class="button is-primary is-small" href="#">
                                                    <strong>Inscription</strong>
                                                </a>
                                                <a class="button is-light is-small" href="#">
                                                    Connexion
                                                </a>
                                            </div>
                                        </div>
                                        <a class="navbar-item">
                                            <form action="#">
                                                <div class="field has-addons">
                                                    <div class="control is-expanded">
                                                        <input name="query" type="text" class="input is-small" placeholder="Recherche ..." required>
                                                    </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-primary is-small">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>

                    <div class="hero-body">
                        <div class="container has-text-centered">
                            <div class="column is-6 is-offset-3">
                                <h1 class="title">
                                    Coming Soon
                                </h1>
                                <h2 class="subtitle">
                                    Accueil
                                </h2>
                                <div class="box">
                                    <div class="field is-grouped">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" placeholder="Enter your email">
                                        </p>
                                        <p class="control">
                                            <a class="button is-info">
                                                Notify Me
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}



    

   
   

